:root {
  --primary-color: #121212;
  --secondary-color: #00D46A;
  --text-color: #E0E0E0;
  --input-background: #1E1E1E;
  --card-background: #252525;
  --highlight-color: #FFD54F;
  --border-color: #333333;
  --border-radius: 5vh;
  font-family: 'Montserrat', sans-serif;
}

.success-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }

  10% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  90% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.login-container {
  display: block;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-header {
  font-family: var(--font-family);
  font-size: 25px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 3vh;
  text-align: center;
}

.forgot-password {
  display: block;
  text-align: center;
  margin: 8px 0;
  text-decoration: none;
  font-style: normal;
  font-family: var(--font-family);
  color: var(--text-color);
}

.login-button {
  background-color: var(--secondary-color);
  color: #ffff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  margin-top: 2vh;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #00b44b;
}

.login-input {
  padding: 10px;
    margin: 10px 0;
    width: 90%;
    height: 4vh;
    margin-bottom: 3vh;
    background-color: var(--input-background);
    color: var(--text-color);
    border: none;
    border-bottom: 1px solid var(--border-color);
    font-weight: bold;
    font-size: large;
    border-radius: 4px;
}

.login-input::placeholder {
  color: var(--border-color);
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #888;
  border: none;
}

.input-container {
  position: relative;
  width: 100%;
}

.icon {
  width: 30px;
  height: 30px;
  color: var(--text-color);
}

.socials-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.login-component {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--primary-color);
}

svg {
  color: var(--text-color);
}