.Search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    /* padding: 8px 12px; */
    background-color:var(--primary-color);
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    width: 80%;
    max-width: 600px;
    margin: 10px auto;
    font-family: 'Montserrat', sans-serif;
}
.whereTo{
    font-size: larger;
   margin: 1px;
   margin-top: 3vh;
}

.UserInput,
.SearchInput {
    height: 80%;
    font-size: medium;
    background-color: #303030;
    border: 3px solid #00D46A;
    outline: none;
    background-color: var(--input-background);
        color: var(--text-color);
        
    flex-grow: 1;
    font-size: 16px;
    padding: 8px;
    border-radius: 25px;
    margin-right: 10px;
    margin-top: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.UserInput::placeholder,
.SearchInput::placeholder {
    color: #999;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}

.search-Button {
    background-color: #0066ff;
    width: 30px;;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 45%;
    padding: 8px 11px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 127px;
    right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-Button svg{
    width: 20px;
    height: 20px;
}

.search-Button:hover {
    background-color: #515151;
}

.location-Button {
    background-color: #0066ff;
    color: #fff;
    border: none;
    border-radius: 45%;
    padding: 8px 11px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
    position: absolute;
    right: 70px;
    top: 102px;
}

.location-Button:hover {
    background-color: #515151;
}
.client-suggestions-list{
        color: #b7b7b7;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 5.5vh;
            left: 0vh;
            background-color: #393939;
            border: 1px solid #ccc;
            border-radius: 14px;
            list-style-type: none;
            padding: 0;
            margin: 0;
            z-index: 10;
            width: 118%;
            z-index: 1000;
            max-height: 200px;
            overflow-y: auto;
}
.suggestions-list {
    color: #b7b7b7;
    position: absolute;
    top: 17vh;
    background-color: #393939;
    border: 1px solid #ccc;
    border-radius: 14px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1001;
    width: 120%;
    max-height: 200px;
    overflow-y: auto;
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
    color: #515151;
}

.location-input-container {
    position: relative;
    right: 25px;
    width: 90%;
}

.Search.UserInput {
    width: 100%;
    padding-right: 30px;
    height: 80%;
    /* Add padding to avoid overlap with loader */
}

.loader-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5vh;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    /* Prevent interaction with loader */
}